
@model IEnumerable<finalProject_Kramar.Models.OptionalAnswerViewModel>

@{
    ViewBag.Title = "ViewQuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewQuest</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Test)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Question)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OptionAnswer }) 
            </td>
        </tr>
    }

</table>